main {
  font-size: 1rem;
  font-family:
    'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

code {
  background-color: lightskyblue;
  padding: 4px 8px;
  border-radius: 5px;
}

.public-path {
  background-color: lavenderblush;
  border: 1px dotted yellow;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li > ul {
  margin-top: 10px;
}

footer {
  background-color: salmon;
  color: darkslategray;
  display: inline-block;
  padding: 0px 50px;
  font-weight: 800;
  font-family:
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: larger;
}
